@import url('https://fonts.googleapis.com/css?family=Crete+Round');

%red-triangle {
  content: "";

  /* useful: http://apps.eky.hk/css-triangle-generator/ */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent red transparent;
}

%gray-circle {
  content: "";

  width: 6px;
  height: 6px;
  background-color: gray;
  border-radius: 50%;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.hide {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
  margin: 0;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

.github {
  float: right;
  margin-left: 20px;

  .icon {
    width: 48px;
    opacity: 0.4;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: 1.0;
    }
  }
}

.top {
  padding: 20px;

  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    display: inline;
    padding-right: 40px;
  }
  p {
    margin-top: 10px;
  }
}

.CodeMirror {
  height: auto;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  width: 50%;
}

button, select {
  padding:.375rem .75rem;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 2px;
}

button {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:not(:disabled):hover, &:not(:disabled):active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  &:disabled {
    color: #007bff;
    background-color: transparent;
    opacity: .65;
  }
  
  &:not(:disabled) {
    cursor: pointer;
  }
}



select {
  padding-right: 1.75rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  border-bottom: 1px solid #dee2e6;
  padding: 0 20px;
  
  .nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  
    .nav-item {
      margin-bottom: -1px;
    }
  
    .nav-link {
      display: block;
      padding: .45rem .9rem;
  
      font-family: 'Crete Round', serif;
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;

      color: #666;
  
      &.active {
        color: black;
        background-color: white;
        border-color: #dee2e6 #dee2e6 white;
      }
      
      &.error:after {
        @extend %red-triangle;

        left: 0.25em;
        position: relative;

        display: inline-block;
      }
    }
  }
}


.logger {
  font-family: monospace;
  padding-right: 1em;

  ul {
    list-style: none;
    padding: 0;

    li {

      &.section {
        font-weight: bold;
        padding-left: 1em;
        padding-top: 1em;

        &:first-child {
          padding-top: 0
        }
      }

      &:not(.section) {
        padding-left: 2em;
      }

      &.error:before {
        @extend %red-triangle;

        left: -0.9em; /* looks better */
        top: 0.8em;
        position: relative;

        display: block;
      }

      &.log:before {
        @extend %gray-circle;

        left: -0.8em;
        top: 0.8em;
        position: relative;

        display: block;
      }
    }
      
  }
} 


@media (max-width: 800px) {
  .child {
    width: 100%;
  }
}
